*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
   outline: 1px solid red; 
}
:root{
    scroll-behavior: smooth;
    --accent-color: #fe6600;
    --text-color: #1b1a1a;
    --smile-colr:yellow;

}




img {
  display: block;
  max-width: 100%;
}
