.header-hero {
  .header-hero__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 1rem;

    

    .header-hero__content {
      margin: 0 auto;
      padding: 1rem;
      .header-hero__title {
        font-size: 2.5rem;
        font-weight: bold;
        color: var(--color-primary-background);
        margin-bottom: 1rem;
      }
      .header-hero__subtitle {
        font-size: 1.5rem;
        color: var(--color-primary-background);
        margin-top: 0.5rem;
      }
    }
    .header-hero__logo-menu {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      
      
      .header-hero__logo-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        border-radius: 23px;
        width: 100%;
        overflow: hidden; /* щоб нічого не вилазило за межі */
      }

      .header-hero__logo-image {
        height: 400px;
        margin-right: 0.5rem;
        padding: 1.5rem;
        display: block;
        width: 400px;
        border-radius: 55px;
      }

      .header-hero__menu {
        display: grid;
        grid-template-columns: repeat(2, 1fr); /* 2 колонки */
        grid-template-rows: repeat(2, 1fr); /* 2 рядки */
        width: 400px; /* розмір усього квадрата */
        height: 400px; /* розмір усього квадрата */
        .header-hero__menu-link {
          border-radius: 5px;
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: var(--color-secondary);
          color: white;
          text-decoration: none;
          font-weight: bold;
          border: 1px solid white; /* роздільні лінії */
          font-size: 0.9rem;
          transition: background-color 0.3s ease;

          &:hover {
            background-color: var(--color-accent);
          }
        }
      }
    }
  }
}
