.footer {
  background-color: var(--color-primary);
  color: var(--color-text-dark);
  padding: 2rem 1rem;

  .footer__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2rem;
    max-width: 1200px;
    margin: 0 auto;
  align-items: flex-start; /* або center */

    .footer__contacts,
    .footer__menu,
    .footer__social,
    .footer__map {
      flex: 1 1 200px; /* базова ширина 200px, гнучка */
      min-width: 200px; /* мінімальна ширина */
    }

    .footer__contacts,
    .footer__menu ,
    .footer__social {
      display: flex;
      flex-direction: column;
      justify-content: center;
        align-items: center; /* Вирівнюємо по центру*/
      gap: 0.8rem;
    }

    .footer__title {
      font-size: 1.5rem;
      font-weight: bold;
      margin-bottom: 0.5rem;
      
    }
    .footer__menu ul{
        display: flex;
        flex-direction: column; /* Вертикальне розташування */
        gap: 0.5rem; /* Відстань між пунктами меню */
        margin: 0; /* Прибираємо відступи */
        padding: 0; /* Прибираємо внутрішні відступи */
        align-items: center; /* Центруємо елементи */
    }

    .footer__menu-item,
    .footer__social-links,.footer__contacts-links{
      display: inline-block; /* Щоб можна було задавати падінги, бордери */
      margin-right: 1rem; /* Відстань між лінками */
      padding: 0.5rem 1rem; /* Внутрішні відступи */
      text-decoration: none; /* Прибираємо підкреслення */
      color: var(--color-text-dark); /* Колір тексту */
      background-color:var(--color-accent-secondary); /* Фон (можна свій колір для соцмережі) */
      border-radius: 5px; /* Закруглені кути */
      transition: all 0.3s ease; /* Анімація при ховері */
    }

    .footer__social-links:hover,.footer__menu-item:hover {
      background-color: var(--color-active); /* Темніший фон при наведенні */
      transform: translateY(-5px); /* Легка анімація підйому */
    }
    .footer_map{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 250px; /* Висота карти */
        margin-top: 1rem;
        border-radius: 18px;
        overflow: hidden; /* Щоб карта не виходила за межі */
    }
    .footer__map iframe {
      width: 100%;
      height: 250px;
      border-radius: 18px;
      border: none;
    }
  }

  .footer__bottom {
    margin-top: 2rem;
    padding-top: 1rem;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1rem;
    color: var(--color-text-light);
    font-size: 0.9rem;

    
  }
  ul{
    list-style: none; /* Прибираємо маркери списку */
    padding: 0; /* Прибираємо внутрішні відступи */
    margin: 0; /* Прибираємо зовнішні відступи */
  }
}
