@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* outline: 1px solid red; */
}

:root {
  scroll-behavior: smooth;

  --color-primary: rgba(198, 78, 170, 0.6); /* м’який фіолетово-рожевий */
  --color-accent: rgba(165, 47, 73, 0.65); /* пастельний рожевий */
  --color-secondary: #987fe9; /* приглушений фіолетовий */
  --color-tertiary: #e47755; /* пастельний помаранчевий */
  --color-success: rgb(142, 203, 72); /* світло-зелений (успіх) */
  --color-error: #f52c2c; /* м’який червоний (помилка) */
  --color-warning: rgba(239, 108, 51, 0.898); /* пастельний жовто-оранжевий */
  --color-info: #55c2f5; /* м’який блакитний (інфо) */
  --color-light: #acabab; /* дуже світлий сірий */
  --color-dark: #424242; /* темний сірий, не чисто чорний */
  --color-primary-background: #cceeff; /* пастельне блакитне тло */

  --color-text-dark: #333333; /* базовий темний текст */
  --color-text-light: #888888; /* приглушений сірий текст */

  --color-background: #fdfcfa; /* майже білий, теплий фон */
  --color-button-hover: #b2ebf2; /* світлий бірюзовий */
  --color-button-active: #ce93d8; /* світлий пурпурний */
  --color-border: #e0e0e0; /* світло-сірий для рамок */
}

img {
  display: block;
  max-width: 100%;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}
